@model Person
@{
    ViewData["Title"] = "Member detail";
    int? index = (int)ViewBag.index;
}
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
<h1> </h1>
<div class="row">
    <div class="col-6 offset-3">
        <form asp-controller="People" asp-action="DeleteWithResult" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="firstname"></label>
                <input asp-for="firstname" type="text" class="form-control"  readonly>
            </div>
<div class="form-group">
    <label asp-for="lastname"></label>
    <input asp-for="lastname" type="text" class="form-control"  readonly>

  </div>
  <div class="form-group">
    <label asp-for="gender"></label>
    <input asp-for="gender" type="text" class="form-control"  readonly>
  </div>
  <div class="form-group">
    <label asp-for="age"></label>
    <input asp-for="age" type="text" class="form-control"  readonly>
  </div>
  <div class="form-group">
    <label asp-for="address"></label>
    <input asp-for="address" type="text" class="form-control"  readonly>
  </div>
            <a class="btn btn-secondary" asp-action="Index" asp-controller="People" role="button">Back</a>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                Delete
                            </button>
                            @* Modal *@
                            <div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this person?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary"><a class="btn btn-primary btn-sm" asp-action="DeleteWithResult" asp-controller="People" 
            asp-route-index="@index" >Delete</a></button>
          </div>
        </div>
      </div>
    </div>
        </form>
    </div>
</div>
<script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>